.nav-header {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  background-color: rgb(251, 245, 186);
  border-radius: 20px;
}

.ul_nav {
  display: flex;
  gap: 20px;
  color: rgb(159, 159, 159);
  list-style-type: none;
}

.link-navbar{
  color: rgb(159, 159, 159);
  text-decoration: none;
  transition: 0.4s all;
  cursor: pointer;
}
.link-navbar:hover{
  color: rgb(185, 1, 1);
}
.left-section__header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.cont-search{
  width: 250px;
  background-color: rgba(117, 117, 117, 0.371);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding:0 5px;
}
.search-header{
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  outline: none;
  border: none;
  height: 30px;
  padding: 0 5px;

}
.icon-search{
  color: black;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.4s;
}
.icon-search:hover{
  color: wheat;
}
.login_link{
  background-color: rgb(185, 1, 1);
  text-decoration: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s all;
}
.login_link:hover{
  background-color: transparent;
  color: rgb(185, 1, 1);
}
.bars-icon{
  display: none;
  color: rgb(159, 159, 159);
  cursor: pointer;
  transition: 0.4s all;
}
.bars-icon:hover{
  color: rgb(27, 27, 27);
}

@media only screen and (max-width : 900px){
  .ul_nav{
    display: none;
  }
  .bars-icon{
    display: block;
  }
  .search-header{
    display: none;
  }
  .login_link{
    display: none;
  }
  .cont-search{
    background-color: transparent;
    justify-content: end;
  }
}